@import 'src/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: $bg-color;
  list-style: none;
  // outline: 1px solid red;
  transition: all .5s ease;
  color: $text-color;
  margin: 0;
}

.wrapper {
  display: flex;
  /// Для маленьких дисплеев включать это
  // height: 100vh;
  // overflow-y: scroll;

  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: $bg-color;
}

.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  text-align: center;
}

h1 {
  margin: 10px;
}

h3 {
  margin: 10px 0px;
  text-align: center;
}

.order-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: $bg-color-lighter;
  border-radius: 15px;
}

h2 {
  margin: 10px;
}

h5 {
  text-align: center;
}

.production-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order-rating {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: $bg-color-lighter;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

$star-size: 20px;
$color: white;

@mixin set-star($border: $color, $fill: transparent) {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{$fill}' stroke='#{$border}' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.stars {
  margin: 10px;
}

.stars input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.stars label {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 6px;
  height: $star-size;
  width: $star-size;
  @include set-star;
  font-size: 0;
  cursor: pointer;
}

.stars input:nth-child(1):checked~label:nth-of-type(-n + 1),
.stars input:nth-child(2):checked~label:nth-of-type(-n + 2),
.stars input:nth-child(3):checked~label:nth-of-type(-n + 3),
.stars input:nth-child(4):checked~label:nth-of-type(-n + 4),
.stars input:nth-child(5):checked~label:nth-of-type(-n + 5) {
  @include set-star($color, $color);
}

.order-files {
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-color-lighter;

  & p {
    margin: 10px 0;
  }
}

.order-files-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.order-properties {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.property-container {
  white-space: nowrap;
  /* Текст не переносится */
  overflow: hidden;
  /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis;
  /* Добавляем многоточие */

  border-radius: 10px;
  background: $bg-color;
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
}

.delete-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: red;
  height: 30px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: rgba($color: red, $alpha: 0.5);
}

.order-files-list {
  width: 100%;
  padding: 0;
}

.order-files-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.order-file-link {
  align-self: center;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-style: italic;
  align-self: center;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.ri-close-line {
  color: red;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.input-file {
  position: relative;
  display: inline-block;
}

.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: green;
  line-height: 22px;
  height: 40px;
  padding: 10px 5px;
  width: 80px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus+span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/Active */
.input-file:hover span {
  background-color: rgba($color: green, $alpha: 0.5);

}

.input-file:active span {
  background-color: rgba($color: green, $alpha: 0.5);
}

/* Disabled */
.input-file input[type=file]:disabled+span {
  background-color: #eee;
}

.order-prod-block {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: $bg-color-lighter;
  border-radius: 15px;

  & p {
    margin: 25px 10px;
  }
}

.order-prod-priced {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.checkout-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: green;
  height: 30px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}

.checkout-btn:hover {
  background-color: rgba($color: green, $alpha: 0.5);
}

#input-review {
  margin: 10px auto;
  width: 50%;
  height: 80%;
  font-size: 14pt;
  color: $text-color;
  background-color: $bg-color;
  border: none;
  border-radius: 5px;
}