<div class="wrapper">
  <div class="order-header">
    <h1>
      Информация о заказе
    </h1>
    <button (click)="orderDeleteBtnClick()" class="delete-btn"
      *ngIf="orderStatus[selectedOrder.status] == 'Создан'">Удалить</button>
  </div>
  <div class="order-description">
    <h2>
      Описание
    </h2>
    <div class="order-properties">
      <div class="property-container">
        <h3>Имя</h3>
        <h5>{{ selectedOrder.name }}</h5>
      </div>
      <div class="property-container">
        <h3>Тип продукта</h3>
        <h5>{{ productType[selectedOrder.productType] }}</h5>
      </div>
      <div class="property-container">
        <h3>Статус выполнения</h3>
        <h5>{{ orderStatus[selectedOrder.status] }}</h5>
      </div>
      <div class="property-container">
        <h3>Цена</h3>
        <h5 *ngIf="selectedOrder.price <= 0">Оценка</h5>
        <h5 *ngIf="selectedOrder.price > 0">{{ selectedOrder.price + ' руб.' }}</h5>
      </div>
      <div class="property-container">
        <h3>Дата создания</h3>
        <h5>{{ declDate(selectedOrder.creationDate) }}</h5>
      </div>
      <div class="property-container">
        <h3>Время выполнения</h3>
        <h5>{{ selectedOrder.leadDays + ' ' + declNum(selectedOrder.leadDays, dayTextForms) }}</h5>
      </div>
    </div>
  </div>
  <div class="order-rating" *ngIf="orderStatus[selectedOrder.status] == 'Завершен'">
    <h2>
      Оцените заказ
    </h2>
    <div class="stars">
      <input title="1star" type="radio" id="star1" name="rating" value="1" (change)="starBtnClick($event)" />
      <input type="radio" id="star2" name="rating" value="2" (change)="starBtnClick($event)" />
      <input type="radio" id="star3" name="rating" value="3" (change)="starBtnClick($event)" />
      <input type="radio" id="star4" name="rating" value="4" (change)="starBtnClick($event)" />
      <input type="radio" id="star5" name="rating" value="5" (change)="starBtnClick($event)" />
      <label for="star1" aria-label="Banana">1 star</label>
      <label for="star2">2 stars</label>
      <label for="star3">3 stars</label>
      <label for="star4">4 stars</label>
      <label for="star5">5 stars</label>
    </div>
    <textarea id="input-review" (input)="onReviewChanged()"></textarea>
    <button (click)="rateOrder()" class="checkout-btn" *ngIf="rating.review.length != 0 && rating.rating != 0 && ratingChosen">Оценить</button>
  </div>

  <div class="order-files">
    <div class="order-files-header">
      <h2>
        Файлы проекта
      </h2>
      <label class="input-file" *ngIf="orderStatus[selectedOrder.status] == 'Создан'">
        <input type="file" name="file[]" multiple (change)="onInputChange($event)" enctype='multipart/form-data'
          accept=".jpg, .jpeg, .png, .doc, .docx, .xlsx">
        <span>Добавить</span>
      </label>
    </div>
    <h3 [style.display]="orderFiles.length <= 0 && orderFilesFetched ? 'block' : 'none'">Нет файлов</h3>
    <div *ngIf="!orderFilesFetched" class="order-creation-loader"
      style="width: 90%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-self: center; align-items: center;">
      <loading-spinner></loading-spinner>
      <h3>Получение файлов заказа</h3>
    </div>
    <ul class="order-files-list">
      <li *ngFor="let orderFile of orderFiles">
        <div class="order-files-list-item">
          <a [href]="orderFile.link" class="order-file-link" download="true">{{ orderFile.name }}</a>
          <i class="ri-close-line" (click)="deleteOrderFile($event)"
            *ngIf="orderStatus[selectedOrder.status] == 'Создан'"></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="order-prod-block">
    <h2>
      Статус платежа
    </h2>
    <div class="order-prod-created" *ngIf="!orderPriced">
      <p>
        После проверки материалов вашего заказа и оценки стоимости, вам будет предложено его дальнейшее оформление
      </p>
    </div>
    <div class="order-prod-priced" *ngIf="orderPriced && !orderPaid">
      <p>Для оформления заказа вы будете перенаправлены на сервис ЮКасса</p>
      <button class="checkout-btn" (click)="checkout()">Оформить заказ</button>
    </div>
    <div class="order-properties" *ngIf="orderPaid">
      <div class="property-container">
        <h3>Тип оплаты</h3>
        <h5>{{ paymentInfo.paymentMethod?.card?.cardType + ' **** ' + paymentInfo.paymentMethod?.card?.last4 }}</h5>
      </div>
      <div class="property-container">
        <h3>Сумма</h3>
        <h5>{{ paymentInfo.amount.value }} руб. </h5>
      </div>
      <div class="property-container">
        <h3>Дата оплаты</h3>
        <h5>{{ declDate(paymentInfo.createdAt) }}</h5>
      </div>
      <div class="property-container">
        <h3>Дата принятия</h3>
        <h5>{{ paymentInfo.capturedAt != null ? declDate(paymentInfo.capturedAt) : "Не принят" }}</h5>
      </div>
      <div class="property-container">
        <h3>Статус</h3>
        <h5>{{ translateStatus(paymentInfo.status) }}</h5>
      </div>
    </div>
  </div>
</div>