<div class="container">
  <h1 mat-dialog-title>Изменение записи</h1>
  <div mat-dialog-content class="content">
    <div class="form-group" *ngFor="let fieldName of data.fieldNames; let i = index">
      <span>{{fieldName}}</span>
      <!-- User shouldn't be able to manipulate ids !!!!! -->
      <input [disabled]="i == 0" class="form-field" type="text" [value]="data.fieldValues[i]">
  </div>
  </div>
  <div mat-dialog-actions class="buttons-panel">
    <button (click)="saveBtnClick()" class="button-save">Сохранить</button>
    <button (click)="deleteBtnClick()" class="button-delete">Удалить</button>
    <button (click)="cancelBtnClick()" class="button-cancel">Отмена</button>
  </div>
</div>

