@import 'src/colors.scss';
@import 'src/styles.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 20px;
  align-self: center;
}



/// Input

.form-group {
  margin-bottom: .3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-field {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-field::placeholder {
  color: #212529;
  opacity: 0.4;
}

.form-field:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.form-field:disabled,
.form-field[readonly] {
  background-color: #f5f5f5;
  opacity: 1;
}

// :root {

//   --input-color: #99A3BA;
//   --input-border: #CDD9ED;
//   --input-background: #fff;
//   --input-placeholder: #CBD1DC;

//   --input-border-focus: #275EFE;

//   --group-color: var(--input-color);
//   --group-border: var(--input-border);
//   --group-background: #EEF4FF;

//   --group-color-focus: #fff;
//   --group-border-focus: var(--input-border-focus);
//   --group-background-focus: #678EFE;

// }

// .form-field {
//   display: block;
//   width: 100%;
//   padding: 8px 16px;
//   line-height: 25px;
//   font-size: 14px;
//   font-weight: 500;
//   font-family: inherit;
//   border-radius: 6px;
//   border-bottom: 5px solid red;
//   -webkit-appearance: none;
//   appearance: none;
//   color: var(--input-color);
//   border: 1px solid var(--input-border);
//   background: var(--input-background);
//   transition: border .3s ease;
//   &::placeholder {
//       color: var(--input-placeholder);
//   }
//   &:focus {
//       outline: none;
//       border-color: var(--input-border-focus);
//   }
// }


// .form-group {
//   position: relative;
//   display: flex;
//   width: 100%;
//   & > span,
//   .form-field {
//       white-space: nowrap;
//       display: block;
//       &:not(:first-child):not(:last-child) {
//           border-radius: 0;
//       }
//       &:first-child {
//           border-radius: 6px 0 0 6px;
//       }
//       &:last-child {
//           border-radius: 0 6px 6px 0;
//       }
//       &:not(:first-child) {
//           margin-left: -1px;
//       }
//   }
//   .form-field {
//       position: relative;
//       z-index: 1;
//       flex: 1 1 auto;
//       width: 1%;
//       margin-top: 0;
//       margin-bottom: 0;
//   }
//   & > span {
//       text-align: center;
//       padding: 8px 12px;
//       font-size: 14px;
//       line-height: 25px;
//       color: var(--group-color);
//       background: var(--group-background);
//       border: 1px solid var(--group-border);
//       transition: background .3s ease, border .3s ease, color .3s ease;
//   }
//   &:focus-within {
//       & > span {
//           color: var(--group-color-focus);
//           background: var(--group-background-focus);
//           border-color: var(--group-border-focus);
//       }
//   }
// }
// html {
//   -webkit-font-smoothing: antialiased;
// }

// * {
//   box-sizing: inherit;
//   &:before,
//   &:after {
//       box-sizing: inherit;
//   }
// }


/// Buttons

button {
  padding: 5px;
  margin: 5px;
  width: 100%;
  cursor: pointer;
}

.buttons-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.button-save {
  transition-duration: 0.4s;
  background-color: green;
  color: $text-color;
  border-radius: 2px;
  border-color: transparent;
  border: 0;
}

.button-save:hover {
  background-color: rgba($color: green, $alpha: 0.5);
  color: $text-color;
}

.button-delete {
  transition-duration: 0.4s;
  background-color: red;
  color: $text-color;
  border-radius: 2px;
  border-color: transparent;
  border: 0;
}

.button-delete:hover {
  background-color: rgba($color: red, $alpha: 0.5);
  color: $text-color;
}

.button-cancel {
  transition-duration: 0.4s;
  background-color: gray;
  color: $text-color;
  border-radius: 2px;
  border-color: transparent;
  border: 0;
}

.button-change:hover {
  background-color: rgba($color: gray, $alpha: 0.5);
  color: $text-color;
}


// Center
body {
  min-height: 100vh;
  font-family: 'Mukta Malar', Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F9FF;
  .form-group {
      max-width: 360px;
      &:not(:last-child) {
          margin-bottom: 32px;
      }
  }
}