<div class="wrapper">
  <div class="content">
    <div class="header">
      <h1>
        Статистика
      </h1>
    </div>
    <div class="datepickers">
      <label for="from">От:</label>
      <input type="date" id="from" [value]="today" name="stat-start" [max]="today" required pattern="\d{4}.\d{2}.\d{2}" (change) = "onDateChanged()">
      <label for="to">До:</label>
      <!-- <input type="date" id="to" [value]="today" name="stat-end" [min]="from" [max]="today" pattern="\d{4}.\d{2}.\d{2}" (change) = "onDateChanged()"> -->
      <input type="date" id="to" [value]="today" name="stat-end" [min]="from" pattern="\d{4}.\d{2}.\d{2}" (change) = "onDateChanged()">
    </div>
    <!-- <button class="create-stats-btn" (click)="createStatistics()">Создать статистику</button> -->

    <div *ngFor="let stat of toStatistics; let i = index" class="chart-container" id="chart-container">
      <canvas id='chart-{{i}}'></canvas>
    </div>

  </div>
</div>