@import 'src/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: $text-color;
  list-style: none;
  // outline: 1px solid red;
  transition: all .5s ease;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 15px;

  h1 {
    margin: 0;
    padding: 0;

  }
}

.below-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h2 {
  margin: 10px;
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

h1 {
  margin: 10px;
}

h3 {
  margin: 10px 0px;
  text-align: center;
}

.statistics-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
}

.statistics-property {
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */

  border-radius: 10px;
  background: $bg-color-lighter;
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
}

/* Selector Styles */



$glass: $bg-color-lighter;
$glass-icon: $bg-color-lighter;
$option: $bg-color-lighter;

/* <select> styles */
.statistics-selector {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 2em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: $text-color;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* <option> colors */
  option {
    color: inherit;
    background-color: $option;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}