<div class="wrapper">
  <div class="content">
    <div class="header">
      <h1>
        Статистика продаж
      </h1>
    </div>
    <div class="below-header">
      <select (change)="statisticsSelectorChanged($event)" class="statistics-selector">
        <option *ngFor="let statistic of statistics">{{statistic}}</option>
      </select>
    </div>
    <div class="statistics-block">
      <div class="statistics-property">
        <h3>Имя</h3>
        <h5>Test</h5>
      </div>
    </div>
  </div>
</div>