@import 'src/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: $bg-color;
  list-style: none;
  // outline: 1px solid red;
  transition: all .5s ease;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h2 {
  text-align: center;
  font-size: 18px;
  height: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $text-color;
  margin: 0;
}

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 15px;
}

.below-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input{
	width: 60%;
	height: 30px;
	background: $bg-color-darker;
	justify-content: center;
	display: flex;
  align-self: center;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
  color: $text-color;
}



/* Selector Styles */



$glass: $bg-color-lighter;
$glass-icon: $bg-color-lighter;
$option: $bg-color-lighter;

/* <select> styles */
.table-selector {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 2em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: $text-color;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* <option> colors */
  option {
    color: inherit;
    background-color: $option;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}



/* Button */



.button-change {
  transition-duration: 0.4s;
  background-color: red;
  color: $text-color;
  border-radius: 2px;
  border-color: transparent;
  cursor: pointer;
  border: 0;
}

.button-change:hover {
  background-color: rgba($color: red, $alpha: 0.5);
  color: $text-color;
}

.button-add {
  height: 100%;
  transition-duration: 0.4s;
  background-color: green;
  color: $text-color;
  border-radius: 2px;
  border-color: transparent;
  cursor: pointer;
  border: 0;
}

.button-add:hover {
  background-color: rgba($color: green, $alpha: 0.5);
  color: $text-color;
}



/* Table Styles */



.table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  height: 70%;
  margin: 10px 10px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
  // min-width: 100px;
  max-width: 250px;
}

// // Remove scrollbar
// .fl-table td {
//   overflow: auto;
//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }

// .fl-table td::-webkit-scrollbar {
//   width: 0;
//   height: 0;
// }

td {
  overflow-x: scroll;
}

.fl-table td:hover,
.fl-table th:hover {
  background-color: $bg-color-lighter;
  color: $text-color;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: $bg-color;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: $bg-color-lighter;
}



/* Responsive */



@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-y: hidden;
    width: 120px;
    font-size: 13px;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}