<div class="wrapper">
  <div class="header">
    <select (change)="tableSelectorChanged($event)" class="table-selector">
      <option *ngFor="let table of tables">{{table}}</option>
    </select>
  </div>
  <h2>Редактирование таблицы</h2>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">
            {{header}}
          </th>
          <th>Управление</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td *ngFor="let propValue of itemGetValues(item)">
            {{propValue}}
          </td>
          <td>
            <button (click)="btnChangeClick($event)" class="button-change">Изменить</button>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</div>