<div class="header">
  <select class="table-selector">
    <option selected>Выберите таблицу</option>
    <option *ngFor="let table of tables">{{table}}</option>
  </select>
</div>
<h2>Редактирование таблицы</h2>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th *ngFor="let tableHeader of tableHeaders">
          {{tableHeader}}
        </th>
        <th>Сохранить</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let tableCell of tableCells">
          <div class="form__group field">
            <input type="input" class="form__field" name="name" id='name' required />
          </div>
        </td>
        <td>
          <div class="buttons">
            <button>Да</button>
            <button>Нет</button>
          </div>
        </td>
      </tr>
    <tbody>
  </table>
</div>