<div class="container">
  <h1> {{ passwordManipulationType == 'change' ? 'Изменение пароля':'Восстановление пароля' }}</h1>
  <div class="content" *ngIf="passwordManipulationType == 'restore'">
    А это восстановление пароля
  </div>
  <div class="content" *ngIf="passwordManipulationType == 'change'">
    <div class="password-input">
      <input type="password" id="old-input" placeholder="Старый пароль">
    </div>
    <div class="password-input">
      <input type="password" id="new-input" placeholder="Новый пароль">
    </div>
    <div class="password-input">
      <input type="password" id="repeat-input" placeholder="Повторите">
    </div>
    <button (click)="changePassword()" class="apply-btn">Изменить</button>
  </div>
</div>
