<div class="wrapper">
  <div class="header">
    <h1>
      Продукты компании
    </h1>
  </div>
  <div class="content">
    <div class="products-container">

      <div class="product-card" (click)="openOrderDialog($event)">
        <div class="content">
          <p id="spiro" class="title">Спирально навивные трубы</p>
        </div>
        <img
          src="https://vent-opt-moscow.ru/image/cache/catalog/%20ТРУБА/1-800x800.jpg"
          alt="article-cover" />
      </div>

      <div class="product-card" (click)="openOrderDialog($event)">
        <div class="content">
          <p id="rectangularDuct" class="title">Прямоугольные воздуховоды</p>
        </div>
        <img
          src="https://atlantcompany.ru/upload/iblock/c52/c52df9ede40b7dca70fd59499b294e16.jpg"
          alt="article-cover" />
      </div>

      <div class="product-card" (click)="openOrderDialog($event)">
        <div class="content">
          <p id="silencer" class="title">Шумоглушители</p>
        </div>
        <img
          src="https://pkf-m.ru/assets/images/products/466792/shumoglushitel-trubchatyj-gtk-2.jpeg"
          alt="article-cover" />
      </div>
      <div class="product-card" (click)="openOrderDialog($event)">
        <div class="content">
          <p id="deflector" class="title">Дефлекторы</p>
        </div>
        <img
          src="https://st15.stpulscen.ru/images/product/226/287/992_original.jpeg"
          alt="article-cover" />
      </div>

    </div>
  </div>
</div>