@import 'src/colors.scss';
@import 'src/sizes.scss';

$font-size-default: 1rem;
$font-size-tablet: 0.9rem;
$font-size-big-phone: 0.7rem;

$margin-bottom-default: 15px;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  list-style: none;
  outline: 1px solid red;
  transition: all .5s ease;
}

.wrapper {
  width: 100vw;
  min-width: 320px;
  height: auto;
  background-color: $bg-color;
}

.content {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.logo-block {
  display: flex;
}

.logo-block-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200px;
  background-image: url('../../../assets/logo_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.logo-block-coverage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200px;
  background-color: $bg-color;
  opacity: .8;
  z-index: 1;
}

svg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  z-index: 1;
}

.navbar {
  justify-content: space-around;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.navbar a {
  font-size: $font-size-default;
  font-weight: 500;
  transition: all .5 ease;
  margin-right: 15px;
}

.navbar a:hover {
  color: $bg-color-darker;
}

.navbar a.active {
  color: $bg-color-darker;
}

.admin-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: -10vw;
  width: 105vw;
  background-color: $bg-color-darker;
  margin-bottom: $margin-bottom-default;
}

#admin-panel {
  padding: 15px;
  text-align: center;
  background-color: $bg-color-darker;
}

#admin-panel.hidden {
  display: none;
}

#admin-panel:hover {
  color: red;
}

.about-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  left: -10vw;
  width: 105vw;
  padding: 15px;
  background-color: $bg-color-lighter;
}


// SHOWCASE BLOCK

.gallery {
  width: 90vw;
  // margin-left: 7px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: .3s;

  &__image {
    // filter: grayscale(1);
    padding-left: 1vw;
  }

  &:hover &__image {
    // filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        // filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      // transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
  }
}


footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;

  -webkit-box-shadow: 0px -20px 20px -5px $bg-color-lighter;
  -moz-box-shadow: 0px -20px 20px -5px $bg-color-lighter;
  box-shadow: 0px -20px 20px -5px $bg-color-lighter;
}

footer .contacts {
  min-width: 200px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

footer .links {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

footer .contacts p, footer .links p {
  margin-bottom: 15px;
  margin-left: 15px;
}

@media (max-width: $tablet) {
  .navbar a{
    font-size: $font-size-tablet;
  }

  .about-block p {
    font-size: $font-size-tablet;
  }
}

@media (max-width: $big-phone) {
  .navbar a{
    font-size: $font-size-big-phone;
  }

  .about-block p {
    font-size: $font-size-big-phone;
  }
}