<div class="wrapper">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Регистрация</label>
        <input [(ngModel)]="regName" type="text" name="txt" placeholder="Имя пользователя" required="">
        <input [(ngModel)]="regEmail" type="email" name="email" placeholder="Почта" required="" id="regEmail">
        <input [(ngModel)]="regPassword" type="password" name="pswd" placeholder="Пароль" required="" id="regPass">
        <button (click)="registerBtnClick()">Зарегистрироваться</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Авторизация</label>
        <input [(ngModel)]="logEmail" type="email" name="email" placeholder="Почта" required="" id="logEmail">
        <input [(ngModel)]="logPassword" type="password" name="pswd" placeholder="Пароль" required="" id="logPass">
        <button (click)="loginBtnClick()">Войти</button>
        <button>Восстановить</button>
      </form>
    </div>
  </div>
</div>
