<div class="wrapper">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form [formGroup]="signupForm" class="container">
        <label for="chk" aria-hidden="true">Регистрация</label>
        <input formControlName="username" type="text" name="txt" placeholder="Имя пользователя">
        <small *ngIf="signupForm.get('username')?.invalid && signupForm.controls['username']?.dirty"
          class="error-message">Ошибка заполнения (минимум {{usernameMinLength}} символов)</small>
        <input formControlName="email" type="email" name="email" placeholder="Почта">
        <small *ngIf="signupForm.get('email')?.invalid && signupForm.controls['email']?.dirty"
          class="error-message">Ошибка заполнения (неверный формат почты)</small>
        <input formControlName="password" type="password" name="pswd" placeholder="Пароль">
        <small *ngIf="signupForm.get('password')?.invalid && signupForm.controls['password']?.dirty"
          class="error-message">Ошибка заполнения (минимум {{passwordMinLength}} символов)</small>
          <small *ngIf="alreadyRegistered" class="error-message">Пользователь уже зарегистрирован</small>
        <button [disabled]="signupForm.invalid" (click)="registerBtnClick()">Зарегистрироваться</button>
      </form>
    </div>

    <div class="login">
      <form [formGroup]="loginForm" class="container">
        <label for="chk" aria-hidden="true" class="auth">Авторизация</label>
        <input formControlName="email" type="email" name="email" placeholder="Почта">
        <small *ngIf="loginForm.get('email')?.invalid && loginForm.controls['email']?.dirty"
          class="error-message">Ошибка заполнения (неверный формат почты)</small>
        <input formControlName="password" type="password" name="pswd" placeholder="Пароль">
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.controls['password']?.dirty"
          class="error-message">Ошибка заполнения (минимум {{passwordMinLength}} символов)</small>
        <small *ngIf="!userExists" class="error-message">Пользователь не существует</small>
        <button [disabled]="loginForm.invalid" (click)="loginBtnClick()">Войти</button>
        <button>Восстановить</button>
      </form>
    </div>
  </div>
</div>