/// Global variables

// $bg-color: #FFFFFF;
// $bg-color-darker: #CCCCCC;
// $text-color: #000;
$main-color: #29fd53;

$bg-color: #2C3E50;
$bg-color-lighter: #3A5169;
$bg-color-darker: #1D2A36;
$text-color: #FFFFFF;
