/* You can add global styles to this file, and also import other style files */

// Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Toaster menu
@import 'ngx-toastr/toastr';
@import 'src/colors.scss';

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  // outline: 1px solid red;
}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color;
  // border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg-color-lighter;
  // border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bg-color-darker;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
