@import 'src/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  list-style: none;
  // outline: 1px solid red;
  transition: all .5s ease;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $bg-color;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

}

.sidebar {
  width: 20vw;
  height: 100vh;
  background-color: $bg-color-lighter;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // Из-за этого может самопроизвольно сложиться сайдбар
  // overflow: hidden;
}

.sidebar-logo {
  width: 100%;
  height: 10vh;
}

.sidebar-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.icon {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-list-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 5% 10%;
  transition: all .5s ease;
}

.sidebar-list-item:hover {
  background-color: $bg-color-darker;
}

.active {
  background-color: $bg-color-darker;
}

.sidebar-list-item > span {
  color: $text-color;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

.sidebar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: $bg-color-darker;
}

.sidebar-info-greetings {
  color: $text-color;
  font-size: 12px;
}

.content {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .navbar {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: red;
  }
}