<div class="wrapper">
  <div class="header">
    <h1>Управление заказами</h1>
  </div>
  <div class="container">
    <loading-spinner [spinnerText]="'Получение заказов'" [useSpinnerText]="true"
      *ngIf="this.ordersList == null"></loading-spinner>
    <ul class="orders-list" *ngIf="ordersLoaded">
      <div class="filter-menu">
        <input type="text" (keyup)="onFilterChange($event)" placeholder="Поиск записи">
      </div>

      <h2 style="text-align: center;" *ngIf="this.ordersList != null && this.ordersList.length == 0">У вас нет заказов
      </h2>
      <li class="order-info" *ngFor="let order of ordersList" (click)="orderInfoClick($event)">
        <div class="section">
          <h3>Имя заказа</h3>
          <h5 class="order-detail">{{ order.name }}</h5>
        </div>
        <div class="section">
          <h3>Тип товара</h3>
          <h5 class="order-detail">{{ productType[order.productType] }}</h5>
        </div>
        <div class="section">
          <h3>Статус заказа</h3>
          <h5 class="order-detail">{{ orderStatus[order.status] }}</h5>
        </div>
        <div class="section">
          <h3>Цена заказа</h3>
          <h5 class="order-detail" *ngIf="order.price <= 0">Оценка</h5>
          <h5 class="order-detail" *ngIf="order.price > 0">{{ order.price + ' руб.' }}</h5>
        </div>
      </li>
    </ul>
  </div>
</div>